/* Reseteo márgenes browser y color body */
body {
    margin: 0 auto;
    background-color: rgb(115, 201, 230);
}
/* Estilos generales */

.center {
	text-align: center;
}

/* Estilos Header */
header {
	background-color: white;
	text-align: center;
}

header div img {
	width: 10em;
}
/* Estilos imágen y su contenedor */

img{
	width: 100%;
}
.cajatw{
    background-color: rgb(150, 147, 165);
    height: 20%;
}
#conteo{
    background-color: black;
}
textarea {
    width: 50%;
    height: 4em;
    color: #4E4D53;
    font-size: 15px;
    padding: 1em;
    border-radius: 1em;
    border: none;
    margin: 0 auto;
    position: relative;
    top: 3em;
    left: 25%;
}

/* Estilos botón agregar */
#btn {
	background-color: #66AEC7;
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 3em auto;
	width: 130px;
	height: 30px;
	display: block;
    color: #FFF;
   position: relative;
   top:2em;
}

#btn:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */
#cont {
	border-radius: 0.4em;
	margin: 0 auto;
	color: #4E4D53;
	text-align: left;
	margin-bottom: 6em;
	padding: 0 16%;
}

#cont span {
	margin-left: 1em;
}

#cont div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}